<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Login - Smart Facial</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <!-- Favicons -->
        <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
        <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">
        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <!-- Vendor CSS Files -->
        <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/vendor/simple-datatables/style.css">
        <!-- Template Main CSS File -->
        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body>
    <main>
        <div class="container">
            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                            <div class="d-flex justify-content-center py-4">
                                <a href="/login/home" class="logo d-flex align-items-center w-auto">
                                    <img src="{{ url_for('static', filename='img/logo.png' ) }}" alt="">
                                    <span class="d-none d-lg-block">Smart Facial</span>
                                </a>
                            </div><!-- End Logo -->
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                        <p class="text-center small">Enter your personal details to create account</p>
                                    </div>
                                    <form class="row g-3 needs-validation" novalidate method="post">
                                        <div class="col-12">
                                            <label for="firstName" class="form-label">First Name</label>
                                            <input type="text" name="firstName" class="form-control" id="firstName" required>
                                            <div class="invalid-feedback">Please, enter your Firstname!</div>
                                        </div>
                                        <div class="col-12">
                                            <label for="lastName" class="form-label">Last Name</label>
                                            <input type="text" name="lastName" class="form-control" id="lastName" required>
                                            <div class="invalid-feedback">Please, enter your Lastname!</div>
                                        </div>
                                        <div class="col-12">
                                            <label for="yourEmail" class="form-label">Your Email</label>
                                            <input type="email" name="email" class="form-control" id="yourEmail" required>
                                            <div class="invalid-feedback">Please enter a valid Email address!</div>
                                        </div>
                                        <div class="col-12">
                                            <label for="yourUsername" class="form-label">Username</label>
                                            <div class="input-group has-validation">
                                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                                <input type="text" name="username" class="form-control" id="yourUsername" required>
                                                <div class="invalid-feedback">Please choose a username.</div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label for="yourPassword" class="form-label">Password</label>
                                            <input type="password" name="password" class="form-control" id="yourPassword" required>
                                            <div class="invalid-feedback">Please enter your password!</div>
                                        </div>
                                        <div class="col-12">
                                            <label for="yourRole" class="form-label">Role</label>
                                            <select name="role" class="form-select" id="yourRole" required>
                                                {% for role in roles %}
                                                    <option value="{{ role.id }}">{{ role.RoleName }}</option>
                                                {% endfor %}
                                            </select>
                                            <div class="invalid-feedback">Please select a Role!</div>
                                        </div>
                                        <div class="col-12">
                                            <label for="yourDept" class="form-label">Department</label>
                                            <select name="Dept" class="form-select" id="yourDept" required>
                                                {% for department in departments %}
                                                    <option value="{{ department.id }}">{{ department.Name }}</option>
                                                {% endfor %}
                                            </select>
                                            <div class="invalid-feedback">Please select a Department!</div>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">Create Account</button>
                                        </div>
                                        <div class="col-12">
                                            <p class="small mb-0"><a href="/login/home">Back to Dashboard</a></p>
                                        </div>
                                        <!-- Hiển thị thông báo lỗi -->
                                        {% if msg %}
                                            <div class="alert alert-danger mt-3">
                                                {{ msg }}
                                            </div>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main><!-- End #main -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <!-- Vendor JS Files -->
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/tinymce/tinymce.min.js"></script>
    <!-- Template Main JS File -->
    <script src="/static/js/main.js"></script>
    </body>
</html>