<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>User - Smart Facial</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicon icon -->
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
    <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/quill/quill.snow.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/quill/quill.bubble.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/simple-datatables/style.css') }}">
    <!-- This page plugin CSS -->
    <link href="{{ url_for('static',filename='assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static',filename='dist/css/style.css') }}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="/login/home" class="logo d-flex align-items-center">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
                <span class="d-none d-lg-block">SmartFacial</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
        <!-- End Logo -->
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="{{ url_for('static', filename='img/profile-img.jpg') }}" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">{{ Auth_user.username }}</span>
                    </a>
                    <!-- End Profile Iamge Icon -->
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>{{ Employee.FirstName }} {{ Employee.LastName }}</h6>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/login/profile">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/login">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>
                    </ul>
                    <!-- End Profile Dropdown Items -->
                </li>
                <!-- End Profile Nav -->
            </ul>
        </nav>
        <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link collapsed" href="/login/home">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/login/profile">
                    <i class="bi bi-person"></i>
                    <span>Profile</span>
                </a>
            </li><!-- End Profile Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/login/time">
                    <i class="bi bi-calendar-check"></i>
                    <span>Time Check-in</span>
                </a>
            </li><!-- End Time Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/login/register">
                    <i class="bi bi-card-list"></i>
                    <span>Register</span>
                </a>
            </li><!-- End Register Page Nav -->
            <li class="nav-item">
                <a class="nav-link" href="/login/users">
                    <i class="bi bi-person-plus"></i>
                    <span>User</span>
                </a>
            </li><!-- End User Page Nav -->
        </ul>
    </aside><!-- End Sidebar-->
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Users</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/login/home">Home</a></li>
                    <li class="breadcrumb-item active">Users</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <section class="section">
            <div class="content-wrapper">
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-8 col-xl-9 col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex no-block align-items-center m-b-30">
                                    <h4 class="card-title">All Contacts</h4>
                                </div>
                                <div class="table-responsive">
                                    <table id="file_export" class="table table-bordered nowrap display">
                                        <thead>
                                            <tr>
                                                <th> </th>
                                                <th>Is Active</th>
                                                <th>FullName</th>
                                                <th>Department</th>
                                                <th>Age</th>
                                                <th>Phone Number</th>
                                                <th>Address</th>
                                                <th>Email</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for Employee in Employee1 %}
                                                <tr>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customControlValidation2" required>
                                                            <label class="custom-control-label" for="customControlValidation2"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        {% for Auth_user in auth_user1 %}
                                                            {% if Auth_user.Employee_id == Employee.id %}
                                                                {% if Auth_user.Is_active == 1 %}
                                                                    <span class="label label-success">Active</span>
                                                                {% elif Auth_user.Is_active == 0 %}
                                                                    <span class="label label-danger">Stop</span>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        <a><img src="{{ url_for('static',filename='assets/images/users/2.jpg') }}" alt="user" class="rounded-circle" width="30" /> {{ Employee.FirstName }} {{ Employee.LastName }}</a>
                                                    </td>
                                                    <td><span class="label label-inverse">
                                                        {% for Department in departments %}
                                                            {% if Department.id == Employee.Department_ID %}
                                                                {{ Department.Name }}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </span></td>
                                                    <td>{{ Employee.Age }}</td>
                                                    <td>{{ Employee.Phone_no }}</td>
                                                    <td>{{ Employee.Address }}</td>
                                                    <td>{{ Employee.Email_Address }}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete" onclick="toggleIsActive({{ Auth_user.Employee_id }})"><i class="ti-close" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            <script>
                                                var auth_user1 = {};
                                                {% for Auth_user in auth_user1 %}
                                                    auth_user1["{{ Auth_user.Employee_id }}"] = {
                                                        "Is_active": {% if Auth_user.Is_active %}true{% else %}false{% endif %}
                                                    };
                                                {% endfor %}
                                                function toggleIsActive(employeeId) {
                                                    var authUser = auth_user1[employeeId];
                                                    if (authUser) {
                                                        authUser.Is_active = (authUser.Is_active == 1) ? 0 : 1;
                                                        var labelElement = document.getElementById("is-active-label-" + employeeId);
                                                        if (labelElement) {
                                                            labelElement.innerHTML = (authUser.Is_active == 1) ? "Active" : "Stop";
                                                        }
                                                    }
                                                }
                                            </script>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-lg-4 col-xl-3 col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title m-t-30">Functional</h4>
                                <div class="list-group">
                                    <a href="javascript:void(0)" class="list-group-item" id="importButton">
                                        <span class="badge badge-info m-r-10"><i class="ti-import"></i></span> Import Contacts
                                    </a>
                                    <input type="file" id="upload-input" style="display: none;">
                                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>
                                    <script>
                                        document.getElementById("importButton").addEventListener("click", function() {
                                            event.preventDefault();
                                            document.getElementById("upload-input").click();
                                        });
                                        document.getElementById("upload-input").addEventListener("change", function() {
                                            var file = this.files[0];
                                            var formData = new FormData();
                                            formData.append("file", file);
                                            var xhr = new XMLHttpRequest();
                                            xhr.open("POST", "/login/users/upload_contacts");
                                            xhr.onreadystatechange = function() {
                                                if (xhr.readyState === 4) {
                                                    if (xhr.status === 200) {
                                                        var response = JSON.parse(xhr.responseText);
                                                        if (response.success) {
                                                            Swal.fire({
                                                                icon: 'success',
                                                                title: 'Upload successful!',
                                                                text: 'The file has been uploaded and processed successfully.'
                                                            });
                                                        } else {
                                                            Swal.fire({
                                                                icon: 'error',
                                                                title: 'Upload failed',
                                                                text: 'An error occurred while uploading the file. Please try again.'
                                                            });
                                                        }
                                                    } else {
                                                        Swal.fire({
                                                                icon: 'error',
                                                                title: 'Upload failed',
                                                                text: 'An error occurred while uploading the file. Please try again.'
                                                            });
                                                    }
                                                }
                                            };
                                            xhr.send(formData);
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>SmartFacial</span></strong>. All Rights Reserved
        </div>
    </footer>
    <!-- End Footer -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <!-- All Jquery -->
    <script src="{{ url_for('static',filename='assets/libs/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{{ url_for('static',filename='assets/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!--This page plugins -->
    <script src="{{ url_for('static',filename='assets/extra-libs/DataTables/datatables.min.js') }}"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    <script src="{{ url_for('static',filename='dist/js/pages/datatable/datatable-advanced.init.js') }}"></script>
    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='vendor/apexcharts/apexcharts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/chart.js/chart.umd.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/echarts/echarts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/quill/quill.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/simple-datatables/simple-datatables.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>
    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>